**/run/
!src/**/run/
**/libs/
!src/**/libs/
**/out/
!src/**/out/

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
**/build/
!src/**/build/
.gradle

# other
eclipse
run


