# check https://docs.minecraftforge.net/en/1.21.x/advanced/accesstransformers/ for tutorial

public net.minecraft.entity.player.EntityPlayer field_71076_b # sleepTimer
public net.minecraft.entity.player.EntityPlayer func_175143_p()Z # isInBed (methods need to name parameter type and return type)
public net.minecraft.entity.player.EntityPlayer$SleepEnemyPredicate
public net.minecraft.entity.player.EntityPlayer$SleepEnemyPredicate <init>(Lnet/minecraft/entity/player/EntityPlayer;)V # constructors are always named <init> and have return type V = void. class constructors are <clinit>